.DS_Store
joindinapp/joindinapp.xcodeproj/project.xcworkspace/xcshareddata/joindinapp.xccheckout
joindinapp/joindinapp.xcodeproj/project.xcworkspace/xcuserdata/luis.xcuserdatad/UserInterfaceState.xcuserstate
joindinapp/joindinapp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
