<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>joind.in</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>joindin_iphone_small.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_iphone_retina_114x114</string>
		<string>icon_iphone_retina_29x29</string>
		<string>icon_iphone_retina_57x57</string>
		<string>icon_iphone_retina_58x58</string>
		<string>icon_iphone_retina_80x80</string>
		<string>icon_iphone_retina_120x120</string>
		<string>joindin_iphone_small.png</string>
		<string>joindin_ipad_small.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>in.joind.joindinapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>in.joind.joindinapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>joindin</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>joindInOAuthClientID</key>
	<string></string>
	<key>joindInOAuthClientSecret</key>
	<string></string>
	<key>joindInAPIURL</key>
	<string>https://api.joind.in/v2.1</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
</dict>
</plist>
